<!doctype html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{snippet_name}}</title>
  <meta name="description" content="{{snippet_description}}"/>
</head>
<body>
  {{{content}}}
  <script src="{{vendor}}"></script>
  <script src="{{entry}}"></script>
</body>
</html>
